@model List<Talk>
@using Blog.Model;
@{
    ViewBag.Title = "树洞列表";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Talk> talklist = ViewData["talklist"] as List<Talk>;
    talklist = talklist != null ? talklist : new List<Talk>();
    var pageNum = ViewData["pageNum"] as int?;
    pageNum = pageNum != null ? pageNum : 0;
    var totalCount = ViewData["TotalCount"] as int?;
    totalCount = totalCount != null ? totalCount : 0;

    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="content">

</div>
